
*{
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: black;
    font-style: italic;
    text-decoration: none;
}
.wrapper{
    background-color: #6F5964;
    padding: 10px;
    width: 970px;
    margin: auto;
}

/* top most header */
.main-header{
    background-color: #F4F4F4;
    padding: 10px;
    width: 970px;
    margin: auto;
}

.maintitle-right{
    text-align: right;
    margin-top: -60px;
    vertical-align: bottom;
    font-size: 20px;
}

/* styles left text of title */
.maintitle-left{
    text-align: left;
    margin-bottom: 34px;
    vertical-align: bottom; 
}

/* adds border and width of jayne's photo */
.jaynephoto{
    border: 5px solid #C0C0C0;
    width: 470px;
    display:inline-block;

}

.contentarea{
    background-color: #EBE3EB;
    display: inline-block;
    width: 470px;
    height: 320px;
    vertical-align: top;
    font-size: 15px;
    margin: 0 5px 0 10px;
}

.subtitle{
    background: linear-gradient(#ffffff, #706f73, #79797b);
    color: white;
    padding: 10px; 
    margin: 0;
    font-size: 20px;
}

.maintext{
    padding: 10px;
}

.bottom-tables{
    background-color: #EBE3EB;
    width: 310px;
    height: auto;
    margin: 20px 5px 20px 5px;
    display: inline-block;
    padding-bottom: 10px;
}

.project_imgs{
    width: 310px;
    height: auto;
}

.technology_imgs{
    width: 48px;
    height: auto;
    padding: 5px;
}

button {
    background-color: #387D63;
    border: 1px solid black;
    color: white;
    padding: 9px 21px;
    text-align: center;
    font-size: 15px;
    border-radius: 10px;
    box-shadow: 4px 4px #888888;
    width: 155px;
    margin: 0px 77px;
}

.contactinfo {
    text-align: center;
}

.socialmedia_imgs{
    width: 15px;
}